@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    box-shadow: 0px 3px 20px #0000000b;
    @apply bg-white border-transparent rounded-md relative dark:bg-darkmode-600 dark:border-transparent;
  }
}
/* @layer components {
  .pagination {
    display: flex;
    margin-right: auto;
    
  }
}
@layer components {
  .page-item.active .page-link {
    font-weight: 500;
    @apply box
    }
    .page-link {
      min-width: 40px;
      font-weight: 400;
      @apply  shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 mr-2 dark:text-slate-300;
    }
  } */
  /* @layer components {
    .pagination {
      @apply flex mr-auto
      .page-item {
        &.active .page-link {
          @apply box font-medium dark:bg-darkmode-400;
        }
        .page-link {
          min-width: 40px;
          @apply btn shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 mr-2 dark:text-slate-300;
        }
      }
    }
  } */



