@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .box {
    box-shadow: 0px 3px 20px #0000000b;
    @apply bg-white border-transparent rounded-md relative dark:bg-darkmode-600 dark:border-transparent;
  }
}
@layer components {
  /* Default Button */
  .btn {
    @apply transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:transition-none;
    &:hover:not(:disabled) {
      @apply bg-opacity-90 border-opacity-90;
    }
    &:not(button) {
      @apply text-center;
    }
    &:disabled {
      @apply opacity-70 cursor-not-allowed;
    }
  }
  .btn-outline-secondary {
    @apply border-secondary text-slate-500 dark:border-darkmode-100/40 dark:text-slate-300;
    &:hover:not(:disabled) {
      @apply bg-secondary/20 dark:bg-darkmode-100/10;
    }
  }
  .btn-primary {
    @apply bg-primary border-primary text-white dark:border-primary;
  }
}
/* @layer components {
  .table-report {
    &:not(.table-report--bordered):not(.table-report--tabulator) {
      border-spacing: 0 10px;
      @apply border-separate;
      th {
        @apply border-b-0;
      }
      td {
        @apply bg-white border-b-0 dark:bg-darkmode-600;
        box-shadow: 20px 3px 20px #0000000b;
        &:first-child {
          @apply rounded-l-md;
        }
        &:last-child {
          @apply rounded-r-md;
        }
        &.table-report__action {
          @apply py-0 relative before:block before:w-px before:h-8 before:bg-slate-200 before:absolute before:left-0 before:inset-y-0 before:my-auto before:dark:bg-darkmode-400;
        }
      }
    }
    img {
      box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.32);
    }
    &.table-report--tabulator .tabulator-header .tabulator-headers .tabulator-col {
      &:nth-child(3),
      &:nth-child(4),
      &:nth-child(5),
      &:nth-child(6) {
        .tabulator-col-content {
          .tabulator-col-title {
            @apply text-center;
          }
        }
      }
    }
  }

  .dark {
    .table-report {
      img {
        box-shadow: 0px 0px 0px 2px #3f4865, 1px 1px 5px rgba(0, 0, 0, 0.32);
      }
    }
  }
}
@import "@left4code/tw-starter/dist/css/_intro.css"; */
@import "./Css/_colors.css"; /* @layer components {
  .pagination {
    display: flex;
    margin-right: auto;
    
  }
}
@layer components {
  .page-item.active .page-link {
    font-weight: 500;
    @apply box
    }
    .page-link {
      min-width: 40px;
      font-weight: 400;
      @apply  shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 mr-2 dark:text-slate-300;
    }
  } */
/* @layer components {
    .pagination {
      @apply flex mr-auto
      .page-item {
        &.active .page-link {
          @apply box font-medium dark:bg-darkmode-400;
        }
        .page-link {
          min-width: 40px;
          @apply btn shadow-none font-normal flex items-center justify-center border-transparent text-slate-800 mr-2 dark:text-slate-300;
        }
      }
    }
  } */
